---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<section class="main about">          <div>
                <table>
                    <tr>
                        <td>
                            <!-- <h3 id="about">An attempt to fashion myself as a man of letters.</h3> -->

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
							 <h2 id="about">Selected Letters</h2>
<p>If I manage to write something notable, I'll pin it here. For now I'll just pin some of my favorite essays by better authors.</p>
                            <ul>
                                <li>
                                    <a href="https://www.paulgraham.com/apple.html">Apple's Mistake by PG</a>
                                </li>
                                <li>
                                   <a href="https://www.paulgraham.com/ds.html">Do things that don't scale, also by PG</a>
                                </li>
                                <li>
                                 <a href="https://archive.org/stream/hight-intensity-training-the-mike-mentzer-way-with-john-little/Hight-Intensity%20Training%20The%20MIKE%20MENTZER%20Way%20-%20With%20John%20Little_djvu.txt">"The gym became a Wagnerian landscape where we made our bid for 
immortality" - an excerpt from Heavy Duty Training.</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div> </section>

		<main class="main about">
			<div>
				<ol>
					{
						posts.map((post) => (
							<li>
								<a href={`/${post.slug}/`}>
					
									<h4 class="title">{post.data.title} </h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ol>

			</div>
			
		</main>
		        <section class="main">

		<Footer />
		</section>
	</body>
</html>
